@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-orange: hsl(15, 100%, 70%);
  /* (work) */
  --Soft-blue: hsl(195, 74%, 62%);
  /* (play) */
  --Light-red: hsl(348, 100%, 68%);
  /* (study) */
  --Lime-green: hsl(145, 58%, 55%);
  /* (exercise) */
  --Violet: hsl(264, 64%, 52%);
  /* (social) */
  --Soft-orange: hsl(43, 84%, 65%);
  /* (self care): */
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);


  font-family: 'Rubik', sans-serif, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--Very-dark-blue);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


}


.dashboard {

  display: grid;
  gap: 20px;
  padding: 20px;

}

.card {
  background-color: var(--Dark-blue);
  position: relative;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
  display: grid;
  grid-template-rows: 50px auto;
}

.card img {
  position: absolute;
  top: 0px;
  right: 30px;
  
}

.card-body{
  grid-row: 2;
  background-color: var(--Dark-blue);
  border-radius: 20px 20px 0px 0px;
  z-index: 200;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
}

/* #profile-card{
   background-color: var(--);
} */
#work-card {
  background-color: var(--Light-orange);
}

#play-card {
  background-color: var(--Soft-blue);
}

#study-card {
  background-color: var(--Light-red);
}

#exercise-card {
  background-color: var(--Lime-green);
}

#social-card {
  background-color: var(--Violet);
}

#selfcare-card {
  background-color: var(--Soft-orange);
}